html,
body {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #ff004c;
    color: #333;
}

/* Intro */
.intro {
    height: 100vh;
    background: linear-gradient(to bottom right, #ff9aa2, #ffb7c5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-content h1 {
    font-size: 4rem;
    color: white;
}

.intro-content p {
    font-size: 1.3rem;
    margin: 20px 0;
    color: white;
}

.start-btn {
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #ff4d6d;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover {
    background-color: #ff4d6d;
    color: white;
}

/* Animaties */
.fade-in {
    animation: fadeIn 1.5s ease forwards;
}

.fade-in-delay {
    animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navigatie */
nav {
    background-color: #ff4d6d;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: white;
}

nav h2 {
    color: rgb(0, 0, 0);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Shop */
.shop {
    padding: 60px 40px;
}

.shop h2 {
    margin-bottom: 30px;
    color: #000000;
}

.producten {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.kaart {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    width: 50%;
    height: auto; /* keeps aspect ratio */
}

.kaart:hover {
    transform: scale(1.05);
}

.kaart img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.kaart h3 {
    padding: 15px;
}

.kaart p {
    padding: 0 15px 20px;
    color: #000000;
    font-wei
}

/* Bloemen */
#bloemen {
    background-color:  #ff8fa0;  /* zacht roze */
}

/* Knuffels */
#knuffels {
    background-color: #ff758c; /* licht blauw */
}

/* Valentijn */
#valentijn {
    background-color: #fc5f79; /* warm beige */
}




